<div class="container">
    <div class="top-section">
        <div class="top-left">
            <ember-model-presenter (onEdit)="showProfile.edit()" [showEdit]="true">
                <ember-show-profile #showProfile></ember-show-profile>
            </ember-model-presenter>
        </div>
        <div class="top-right">
            <!-- Content here -->
        </div>
    </div>
    <div class="bottom">
        <!-- Content here -->
    </div>
</div>

        <!-- <button type="button" [disabled]="state?.state()?.state === 'loading'" (click)="logout()">
            Log out
        </button> -->
